<div
  class="w-full h-full flex flex-col"
  [class.is-mobile]="mobileQuery.matches"
>
  <app-header (toggleSidenav)="snav.toggle()"></app-header>

  <mat-sidenav-container class="flex-1">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
    >
      <mat-nav-list>
        @for (nav of sideNavOptions; track nav) {
        <a mat-list-item [href]="nav.route">{{ nav.name }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
     <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
